body {
	background-color: grey;
	font-family: sans-serif;
	color: white;
}

#logo {
	height: 75px;
	width: 75px;

}
 .navbar-header {
 	height: 75px;
 	background-color: black;

 }
 .container-fluid {
 	background-color: black;
 }